/*     Author: Dharmil Chhadva
    ID: C0884179
    Date: 4th Aug, 2023
 */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: #00e5ff;
}
.card {
  padding: 20px;
}

.card-title {
  text-align: center;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.error-message {
  color: #f22c2c;
  font-size: 12px;
}

.btn {
  display: flex;
  padding: 12px;
  background: #3786bd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 130px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin: 21px auto 0px auto;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #3785bde0;
  color: #fff;
}
